abrt/
dconf/
gtk-3.0/
lxqt/
nvim/
pulse/
gh/
BraveSoftware/
Thunar/
xfce4/
neofetch/
fish/
atuin/
nwg-panel/
Cryptomator/
autostart/
discord/
user-dirs.dirs
user-dirs.locale
mimeapps.list
pavucontrol.ini
