abrt/
dconf/
gtk-2.0/
gtk-3.0/
gtk-4.0/
qt5ct/
lxqt/
nvim/
pulse/
gh/
BraveSoftware/
Thunar/
xfce4/
neofetch/
fish/
atuin/
nwg-panel/
Cryptomator/
autostart/
discord/
Code Industry/
libreoffice/
qalculate/
GIMP/
blender/
JetBrains/
jgit/
PVS-Studio/
texstudio/
vlc/
VirtualBox/
QMPlay2/
user-dirs.dirs
user-dirs.locale
pavucontrol.ini
QtProject.conf
okularrc
kde*
knfsshare
mimeinfo.cache
go/
ghidra/
unity3d/
xarchiver/
simple-scan/
binwalk/
