/* Gruvbox Dark colors */
@define-color bg        #282828;
@define-color fglight   #282828;
@define-color bg1       #3c3836;
@define-color bg2       #504945;
@define-color bg3       #665c54;
@define-color bg4       #7c6f64;
@define-color fg        #ebdbb2;
@define-color red       #cc241d;
@define-color green     #98971a;
@define-color yellow    #d79921;
@define-color blue      #458588;
@define-color purple    #b16286;
@define-color aqua      #689d6a;
@define-color gray      #a89984;
@define-color brgray    #928374;
@define-color brred     #fb4934;
@define-color brgreen   #b8bb26;
@define-color bryellow  #fabd2f;
@define-color brblue    #83a598;
@define-color brpurple  #d3869b;
@define-color braqua    #8ec07c;
@define-color orange    #d65d0e;
@define-color brorange  #fe8019;
@define-color tooltipbg rgba(40, 40, 40, 0.8);

* {
    font-family: "JetBrains Mono";
    font-size: 18px;
    font-weight: bold;
}

window#waybar {
    color: @fg;
    background-color: @bg;
    border-style: solid;
    border-color: @brgray;
    border-width: 2px;
    border-radius: 5px;
    opacity: 0.95;
}

#cpu {
    padding: 0 0 0 20px;
}

#cpu#icon {
    font-size: 25px;
}

#custom-weather {
    padding: 0 0 0 20px;
    border-style: solid;
    border-color: @brgray;
    border-width: 0px 0px 0px 2px;
}

#custom-lockscreen {
    padding: 0 28px 0 20px;
    border-style: solid;
    border-color: @brgray;
    border-width: 0px 0px 0px 2px;
}

@keyframes blink {
    to {
        background-color: @bg;
        color: @fg;
    }
}
