/* Gruvbox Dark colors */
@define-color bg        #282828;
@define-color fglight   #282828;
@define-color bg1       #3c3836;
@define-color bg2       #504945;
@define-color bg3       #665c54;
@define-color bg4       #7c6f64;
@define-color fg        #ebdbb2;
@define-color red       #cc241d;
@define-color green     #98971a;
@define-color yellow    #d79921;
@define-color blue      #458588;
@define-color purple    #b16286;
@define-color aqua      #689d6a;
@define-color gray      #a89984;
@define-color brgray    #928374;
@define-color brred     #fb4934;
@define-color brgreen   #b8bb26;
@define-color bryellow  #fabd2f;
@define-color brblue    #83a598;
@define-color brpurple  #d3869b;
@define-color braqua    #8ec07c;
@define-color orange    #d65d0e;
@define-color brorange  #fe8019;

* {
    font-family: "JetBrains Mono";
    font-size: 16px;
    font-weight: bold;
    color: @fg;
    border-radius: 10px;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
}

tooltip * {
    background-color: @bg1;
}

#workspaces,
#cpu,
#temperature,
#memory,
#disk,
#clock,
#pulseaudio,
#bluetooth,
#network.interface,
#custom-nightmode,
#custom-dropbox,
#custom-printer,
#custom-lockscreen{
    background: @bg1;
    opacity: 0.80;
    border-style: solid;
    border-color: @fg;
    border-width: 2px;
    padding: 0px 12px 0px 12px;
    margin: 0px 2px 0px 2px;
}

#workspaces {
    font-weight: bold;
    padding: 0px 0px 0px 0px;
    margin: 0px 2px 0px 0px;
}

#workspaces button {
    border-width: 2px;
    border-radius: 30px;
}

#workspaces button:hover {
    border-color: @fg;
}

#workspaces button.active {
    border-color: @orange;
}

#clock {
    margin: 0px 0px 0px 0px;
}

#pulseaudio.muted {
    background-color: @fg;
    color: @bg1;
}

#custom-lockscreen {
    margin: 0px 0px 0px 2px;
    padding: 0px 15px 0px 10px;
    font-size: 18px;
    color: @bg1;
    background: @fg;
    border-radius: 30px;
}
